Scenario.name = bubbleRapGlobalCentrality24HourWindow

# If connection are false, its using external events to create messages, otherwise, it will use internal events to create messages
Scenario.simulateConnections = false
Scenario.updateInterval = 10
# 43200s == 12h
Scenario.endTime = 5000000
#987529 Haggle 4 Cam
#274883 Haggle 3
#16981816 Reality

Report.warmup = 0
Scenario.nrofHostGroups = 1

[ Interfaces informations ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10
btInterface.scanInterval = 120

[ Group settings ]
# Use stationary movement for the external scenario, and random waypoint for the internal scenario
Group.movementModel = StationaryMovement
Group.router = DecisionEngineRouter

[DecisionEngineRouter Settings]
DecisionEngineRouter.decisionEngine  = community.BubbleRap
DecisionEngineRouter.lambda = 0.5
DecisionEngineRouter.gamma = 0.5
DecisionEngineRouter.familiarThreshold = 0.9

community.BubbleRap.timeWindow = 86400
community.BubbleRap.computeInterval = 600
community.BubbleRap.nrOfEpochsToAvg = 60z

Group.bufferSize = 20M
Group.waitTime = 0, 120
Group.msgTtl = 1440
Group.nrofInterfaces = 1
Group.interface1 = btInterface

[ Group1 Information ]
Group1.groupID = A
Group1.waitTime = 10, 30 
Group1.speed = 0.8, 1.4
Group1.nrofHosts = 97
#36 Haggle Cam
#41 Haggle
#97 Reality
Group1.nodeLocation = 10, 10
Group1.movementModel = StationaryMovement

Events.nrof = 2
[ Trace information ]
# Events1 only work for ExternalEventsQueue (first scenario)
Events1.class = ExternalEventsQueue
Events1.filePath = data/events/RealityConnectionTraceFinal.txt
# # Events1.filePath = data/events/Haggle3.txt
# # #Events1.filePath = Haggle4-Cam-Imote.csv
# # #Events1.filePath = Haggle3-Infocom5.txt
# # #RealityConnectionTraceRevised.txt
# # #Haggle4-Cam-Imote.csv
# # #Haggle3-Infocom5.txt 
# # #RealityConnectionTraceFinal.txt

[ Message creation parameters ]
# This work as message generator for internal events (second scenario)
Events2.class = MessageEventGenerator
#Events2.interval = 58, 62 
Events2.interval = 580, 620 
#97, 103
# 25,30 (~120 texts/hour) 
#290, 310 (~12 texts/hour)
# 580, 620 (~ 6 texts/hour)
Events2.size = 10k
## range of message source/destination address 
Events2.hosts = 0, 96   
# 0, 35 Haggle Cam
# 0,40 Haggle
# 0,96 Reality
Events2.prefix = M

# World's size for Movement Models without implicit size (width, height; meters)
MovementModel.worldSize = 100, 100
# # seed for movement models' pseudo random number generator (default = 0)
# MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.rngSeed = 2


#ReportsInformations
Report.nrofReports = 2

Report.reportDir = reports/bubbleRapCentrality24HWindow
#Report.reportDir = reports/RealRANK

#Report classes to load
# Report.report1 = UniqueEncountersReport
#Report.report2 = TotalEncountersReport 
#Report.report1 = DeliveryCentralityReport
Report.report1 = MessageStatsReport
Report.report2 = CentralityDetectionReport
#Report.report3 = BufferOccupancyReport
#Report.report4 = BufferOccupancyEWMAReport
#Report.report1 = DegreeCentralityReport
#Report.report8 = CommunityDetectionReport