Scenario.name = CommunityBasedMovement
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200

[ "Bluetooth" interface for all nodes ]
btInterface.type = SimpleBroadcastInterface
# Transmit speed of 2 Mbps = 250kBps
btInterface.transmitSpeed = 250k
# Range of node (every meter)
btInterface.transmitRange = 10 

# High speed, long range, interface for group 4 (Opsional jika nanti ada)
highspeedInterface.type = SimpleBroadcastInterface
highspeedInterface.transmitSpeed = 10M
highspeedInterface.transmitRange = 1000

# Define 3 different node groups
Scenario.nrofHostGroups = 5

[ Common settings (for all groups) ]
Group.movementModel = GatheringnCommunityMovement
Group.speed = 10.0, 30.0
Group.router = EpidemicRouter
Group.bufferSize = 5M
Group.msgTtl = 300
Group.nrofInterfaces = 1
Group.interface1 = btInterface

Group.nrofHosts = 60

Group.waitTime = 0, 120
Group.nrofGridX = 4
Group.nrofGridY = 3

Group.gatheringX = 2
Group.gatheringY = 1


[ Group 1 (Ayam) ]
Group1.groupID = A
Group1.nrofHosts = 30
Group1.movementModel = GatheringnCommunityMovement
Group1.homeX = 0
Group1.homeY = 0

[ Group 2 (Bebek) ]
Group2.groupID = B
Group2.movementModel = GatheringnCommunityMovement
Group2.homeX = 3
Group2.homeY = 0

[ Group 3 (Sapi) ]
Group3.groupID = S
Group3.nrofHosts = 20
Group3.movementModel = GatheringnCommunityMovement
Group3.homeX = 1
Group3.homeY = 2

[ Group 4 (Kelinci) ]
Group4.groupID = K
Group4.movementModel = GatheringnCommunityMovement
Group4.nrofHosts = 35
Group4.homeX = 3
Group4.homeY = 2

[ Group 5 (Lebah) ]
Group5.groupID = L
Group5.nrofHosts = 80
Group5.movementModel = GatheringnCommunityMovement
Group5.homeX = 0
Group5.homeY = 2

[ General events parameters ]
Events.nrof = 1

[ Events 1: MessageEventGenerator specific ]
Events1.class = MessageEventGenerator
# Creation interval in seconds (one new message every 25 to 35 seconds)
Events1.interval = 25,35
# Message sizes (500kB - 1MB)
Events1.size = 500k,1M
# range of message source/destination addresses (Total host sekarang 180, jadi rentangnya 0-179)
Events1.hosts = 0,224    
# Message ID prefix
Events1.prefix = M

[ Movement model settings ]
# seed for movement models' pseudo random number generator (default = 0)
MovementModel.rngSeed = 1
# World's size for Movement Models without implicit size (width, height; meters)
# Catatan: Jika transmitRange cuma 10m, map 9000x9000 mungkin terlalu luas. 
# Node akan jarang bertemu. Coba pertimbangkan ukuran lebih kecil jika koneksi sedikit.
MovementModel.worldSize = 3000, 1500
# How long time to move hosts in the world before real simulation
MovementModel.warmup = 500

[ General ]
# how many reports to load
Report.nrofReports = 1
# length of the warm up period (simulated seconds)
Report.warmup = 0
# default directory of reports (can be overridden per Report with output setting)
Report.reportDir = reports/CommunityByGrid

[ Optimization settings ]
# these affect the speed of the simulation `data/events` World class for details.
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

# GUI.UnderlayImage.fileName =
# GUI.UnderlayImage.offset = 0, 0
# GUI.UnderlayImage.scale = 1.0
# GUI.UnderlayImage.rotate = 0.0
# # how many events to show in the log panel (default = 30)
# GUI.EventLog.nrofEvents = 100