#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = Prophet-forwardPolicy@%%Group.forwardingPolicy%%-dropPolicy@%%Group.dropPolicy%%
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200
Report.warmup = 0
Scenario.nrofHostGroups = 1

#===========================================================================
# INTERFACE SETTINGS
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 100
btInterface.scanInterval = 2

[ Group ]
# Pastikan nama router sama dengan nama Class di Java
Group.router = DynamicProphetRouter
# Variabel Batch (Total 12 kombinasi)
# Format penamaan disesuaikan agar bagus di Grapher
Group.forwardingPolicy = [RTR; GRTR_SORT; GRTR_MAX; COIN]
Group.dropPolicy = [FIFO; MOFO; SHLI]

Group.coinProbability = 0.5
# Buffer diperkecil menjadi 800k agar Drop Policy (Queue) bekerja lebih intens
Group.bufferSize = 800k
Group.msgTtl = 300
Group.nrofInterfaces = 1
Group.interface1 = btInterface
ProphetRouter.secondsInTimeUnit = 30
ProphetRouter.beta = 0.25

#===========================================================================
# MOVEMENT & HOST SETTINGS
#===========================================================================

[ Group1 ]
Group1.groupID = A
Group1.waitTime = 10, 30
Group1.speed = 0.8, 1.4
Group1.nrofHosts = 50
Group1.movementModel = RandomWaypoint

MovementModel.rngSeed = 1
MovementModel.worldSize = 1500, 1500
MovementModel.warmup = 1000

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================
Events.nrof = 1
[ Events1 ]
Events1.class = MessageEventGenerator
# Interval dipercepat (50, 150) agar trafik lebih padat
Events1.interval = 50, 150
Events1.size = 100k, 500k
Events1.hosts = 0, 49
Events1.prefix = M

#===========================================================================
# REPORTS SETTINGS (FOR GRAPHER)
#===========================================================================
Report.nrofReports = 1
# Semua hasil dikumpul di satu folder agar Grapher bisa membandingkan
Report.reportDir = reports/Prophet_QueueFowarding/
# Nama file report akan menjadi: Prophet-GRTR_MAX@SHLI_MessageStatsReport.txt
Report.report1 = MessageStatsReport