Scenario.name = [Prophet-GRTR@Max ; Prophet-GRTR@Min]

# If connection are false, its using external events to create messages, otherwise, it will use internal events to create messages
Scenario.simulateConnections = true
Scenario.updateInterval = 10
# 43200s == 12h
Scenario.endTime = 274883
#987529 Haggle 4 Cam
#274883 Haggle 3
#16981816 Reality

Report.warmup = 0
Scenario.nrofHostGroups = 1

[ Interfaces informations ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10
btInterface.scanInterval = 120

[ Group settings ]
# Use stationary movement for the external scenario, and random waypoint for the internal scenario
Group.movementModel = RandomWaypoint
Group.router = [ProphetRouter ; ProphetGRTRMinRouter]               # by default, uses ProphetRouter for this setting
Group.bufferSize = 20M
Group.waitTime = 0, 120
Group.msgTtl = 1440
Group.nrofInterfaces = 1
Group.interface1 = btInterface

[ Group1 Information ]
Group1.groupID = A
Group1.waitTime = 10, 30 
Group1.speed = 0.8, 1.4
Group1.nrofHosts = 41
#36 Haggle Cam
#41 Haggle
#97 Reality
Group1.nodeLocation = 10, 10
Group1.movementModel = [StationaryMovement ; RandomWaypoint]


Events.nrof = 1
# [ Trace information ]
# # Events1 only work for ExternalEventsQueue (first scenario)
# Events1.class = ExternalEventsQueue
# Events1.filePath = data/events/Haggle3.txt
# #Events1.filePath = Haggle4-Cam-Imote.csv
# #Events1.filePath = Haggle3-Infocom5.txt
# #RealityConnectionTraceRevised.txt
# #Haggle4-Cam-Imote.csv
# #Haggle3-Infocom5.txt 
# #RealityConnectionTraceFinal.txt

[ Message creation parameters ]
# This work as message generator for internal events (second scenario)
Events1.class = MessageEventGenerator
#Events2.interval = 58, 62 
Events1.interval = 580, 620 
#97, 103
# 25,30 (~120 texts/hour) 
#290, 310 (~12 texts/hour)
# 580, 620 (~ 6 texts/hour)
Events1.size = 10k
## range of message source/destination address 
Events1.hosts = 0, 40
# 0, 35 Haggle Cam
# 0,40 Haggle
# 0,96 Reality
Events1.prefix = M

[ ProphetRouter Settings ]
ProphetRouter.beta = 0.25
ProphetRouter.gamma = 0.1
ProphetRouter.secondsInTimeUnit = 30

# World's size for Movement Models without implicit size (width, height; meters)
MovementModel.worldSize = 100, 100
# # seed for movement models' pseudo random number generator (default = 0)
# MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.rngSeed = 2


#ReportsInformations
Report.nrofReports = 1

Report.reportDir = reports/prophetComparison
#Report.reportDir = reports/RealRANK

#Report classes to load
# Report.report1 = UniqueEncountersReport
#Report.report2 = TotalEncountersReport 
#Report.report1 = DeliveryCentralityReport
Report.report1 = MessageStatsReport
#Report.report3 = BufferOccupancyReport
#Report.report4 = BufferOccupancyEWMAReport
#Report.report1 = DegreeCentralityReport
#Report.report8 = CommunityDetectionReport
