#===========================================================================
# 1. SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = RandomGrid_Simulation
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200
Scenario.nrofHostGroups = 3

#===========================================================================
# 2. INTERFACE SETTINGS
#===========================================================================
[ Bluetooth interface ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

#===========================================================================
# 3. GROUP SETTINGS
#===========================================================================
[ Common settings (for all groups) ]
Group.router = EpidemicRouter
Group.bufferSize = 5M
Group.nrofInterfaces = 1
Group.nrofHosts = 20
Group.interface1 = btInterface
Group.msgTtl = 300

Group.speed = 1, 3
Group.waitTime = 0, 120

Group.movementModel = RandomGridMovement
Group.gridCountX = 5
Group.gridCountY = 4

#===========================================================================
# 4. QUADRANT SETTINGS
#===========================================================================
[ Group 1]
Group1.groupID = A_
Group1.homeX = 0
Group1.homeY = 0

[ Group 2]
Group2.groupID = B_
Group2.homeX = 1
Group2.homeY = 2

[ Group 3]
Group3.groupID = C_
Group3.homeX = 3
Group3.homeY = 3

#===========================================================================
# 5. MOVEMENT & WORLD SETTINGS
#===========================================================================
[ Movement model settings ]
MovementModel.rngSeed = 1
MovementModel.worldSize = 6000, 3000
MovementModel.warmup = 1000

#===========================================================================
# 6. EVENTS SETTINGS 
#===========================================================================
[ Events ]
Events.nrof = 1

Events1.class = MessageEventGenerator
Events1.interval = 25,35
Events1.size = 500k,1M
Events1.hosts = 0,59
Events1.prefix = M

#===========================================================================
# ROUTER SETTINGS
#===========================================================================
[ ProphetRouter ]
ProphetRouter.secondsInTimeUnit = 30

#===========================================================================
# 7. REPORT SETTINGS
#===========================================================================
[ Reports ]
Report.nrofReports = 1
Report.warmup = 0
Report.reportDir = reports/RandomGridMatriks/

Report.report1 = MessageStatsReport

#===========================================================================
# 8. OPTIMIZATION & GUI SETTINGS
#===========================================================================
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

# GUI.UnderlayImage.fileName = data/spatial/4x3_grid.png
# GUI.UnderlayImage.offset = 0, 0
# GUI.UnderlayImage.rotate = 0.0
# GUI.UnderlayImage.scale = 2.0
# GUI.UnderlayImage.rotate = 0.0
GUI.EventLogPanel.nrofEvents = 100

GUI.UnderlayImage.fileName = data/spatial/auto_grid.png
GUI.UnderlayImage.offset = 0, 0
GUI.UnderlayImage.scale = 1.0
GUI.UnderlayImage.rotate = 0.0