#===========================================================================
# SCENARIO CONFIGURATION (HAGGLE VERSION)
#===========================================================================
Scenario.name = HaggleProphet-forwardPolicy@%%Group.forwardingPolicy%%-dropPolicy@%%Group.dropPolicy%%
Scenario.simulateConnections = true
Scenario.updateInterval = 2.0
# Durasi Haggle 3 (sekitar 3 hari)
Scenario.endTime = 274883 
Report.warmup = 0
Scenario.nrofHostGroups = 1

#===========================================================================
# INTERFACE SETTINGS
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10
btInterface.scanInterval = 5

[ Group ]
Group.router = ProphetForwardingQueuePolicy
Group.forwardingPolicy = [GRTRMAX; GRTRSORT; GRTR; COIN]
Group.dropPolicy = [FIFO; MOFO; SHLI]

Group.coinProbability = 0.5
# Buffer 20M sudah sangat aman untuk Haggle
Group.bufferSize = 20M
Group.msgTtl = 1440
Group.nrofInterfaces = 1
Group.interface1 = btInterface

# Parameter Prophet
ProphetRouter.secondsInTimeUnit = 30
ProphetRouter.beta = 0.25
ProphetRouter.gamma = 0.1

#===========================================================================
# MOVEMENT & HOST SETTINGS
#===========================================================================
[ Group1 ]
Group1.groupID = A
Group1.waitTime = 10, 30
Group1.speed = 0.8, 1.4
# SESUAIKAN: Haggle 3 menggunakan 41 node
Group1.nrofHosts = 41
Group1.movementModel = RandomWaypoint
Group1.nodeLocation = 10, 10

MovementModel.worldSize = 100, 100
MovementModel.rngSeed = 2
MovementModel.warmup = 1000

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================
Events.nrof = 1
[ Events1 ]
Events1.class = MessageEventGenerator
Events1.interval = 50, 150 
Events1.size = 100k, 500k
# SESUAIKAN: Host 0 sampai 40 (total 41 node)
Events1.hosts = 0, 40
Events1.prefix = M

#===========================================================================
# REPORTS SETTINGS
#===========================================================================
Report.nrofReports = 1
Report.reportDir = reports/HaggleProphetComparison/
Report.report1 = MessageStatsReport