Scenario.name = SnW_testing
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200

[ "Bluetooth" interface for all nodes ]
btInterface.type = SimpleBroadcastInterface
# Transmit speed of 2 Mbps = 250kBps
btInterface.transmitSpeed = 250k
#Range of node (every meter)
btInterface.transmitRange = 10 

# High speed, long range, interface for group 4
highspeedInterface.type = SimpleBroadcastInterface
highspeedInterface.transmitSpeed = 10M
highspeedInterface.transmitRange = 1000

# Define 2 different node groups
Scenario.nrofHostGroups = 3

[ Common settings (for all groups) ]
Group.movementModel = ShortestPathMapBasedMovement
Group.router = [SprayAndWaitRouter; DecisionEngineRouter]           # by default, uses EpidemicRouter for this setting
Group.bufferSize = 5M
Group.waitTime = 0, 120

Group.nrofInterfaces = 1                    # all nodes have the 1 interface
Group.interface1 = btInterface              # all nodes uses bluetooth interface
Group.speed = 0.5, 1.5                      # walking speeds (range)
Group.msgTtl = 300                          # message TTL of 300 minutes (5 hours)
Group.nrofHosts = 10                        # default number of hosts in a group

[ Group 1 (Ayam) ]
Group1.groupID = A

[ Group 2 (Bebek) ]
Group2.groupID = B
Group2.nrofHosts = 30

[ Group 3 (Kucing) ]
Group3.groupID = C
Group3.nrofHosts = 15
Group3.speed = 7, 10

[ General events parameters ]
Events.nrof = 1

[ Events 1: MessageEventGenerator specific ]
Events1.class = MessageEventGenerator
# Creation interval in seconds (one new message every 25 to 35 seconds)
Events1.interval = 25,35
# Message sizes (500kB - 1MB)
Events1.size = 500k,1M
# range of message source/destination addresses
Events1.hosts = 0,54      #Start from 0, total 127 nodes cumulatively from all groups
# Message ID prefix
Events1.prefix = M

[ Movement model settings ]
# seed for movement models' pseudo random number generator (default = 0)
MovementModel.rngSeed = 1
# World's size for Movement Models without implicit size (width, height; meters)
MovementModel.worldSize = 5000, 5000
# How long time to move hosts in the world before real simulation
MovementModel.warmup = 1000

[ Map based movement/movement model specific settings ]
MapBasedMovement.nrofMapFiles = 4

MapBasedMovement.mapFile1 = data/spatial/roads.wkt
MapBasedMovement.mapFile2 = data/spatial/main_roads.wkt
MapBasedMovement.mapFile3 = data/spatial/pedestrian_paths.wkt
MapBasedMovement.mapFile4 = data/spatial/shops.wkt

[ General ]
# how many reports to load
Report.nrofReports = 2
# length of the warm up period (simulated seconds)
Report.warmup = 0
# default directory of reports (can be overridden per Report with output setting)
Report.reportDir = [reports/demo1 ; reports/demo2 ; reports/demo3]

[ Reports ]
# Report classes to load
Report.report1 = MessageCopyReport
Report.report2 = MessageStatsReport

[DecisionEngineRouter]
DecisionEngineRouter.nrofCopies = 10
DecisionEngineRouter.binaryMode = true
DecisionEngineRouter.decisionEngine = decisionengine.SprayAndWaitEngine    

[SprayAndWaitEngine]
SprayAndWaitEngine.nrofCopies = 10
SprayAndWaitEngine.binaryMode = true

[SprayAndWaitRouter]
SprayAndWaitRouter.nrofCopies = 10
SprayAndWaitRouter.binaryMode = true

[ Optimization settings ]
# these affect the speed of the simulation `data/events` World class for details.
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

GUI.UnderlayImage.fileName = data/spatial/helsinki_underlay.png
# Image offset in pixels (x, y)
GUI.UnderlayImage.offset = 64, 20
# Scaling factor for the image
GUI.UnderlayImage.scale = 4.75
# Image rotation (radians)
GUI.UnderlayImage.rotate = -0.015
# how many events to show in the log panel (default = 30)
GUI.EventLogPanel.nrofEvents = 100