#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = [universalDrop_FIFO ; universalDrop_DY ; universalDrop_DL ; universalDrop_DS ; universalDrop_SHLI ; universalDrop_LHLI ; universalDrop_MOPR ; universalDrop_LEPR]

# If connection are false, its using external events to create messages, otherwise, it will use internal events to create messages
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 274883
#987529 Haggle 4 Cam
#274883 Haggle 3
#16981816 Reality

Report.warmup = 0
Scenario.nrofHostGroups = 1

[ Interfaces informations ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 20
btInterface.scanInterval = 120

highspeedInterface.type = SimpleBroadcastInterface
highspeedInterface.transmitSpeed = 10M
highspeedInterface.transmitRange = 1000

#===========================================================================
# GROUP CONFIGURATION
#===========================================================================

[ Group settings ]
# Use stationary movement for the external scenario, and random waypoint for the internal scenario
Group.movementModel = RandomWaypoint
Group.router = universalDropRouter
Group.dropPolicy = [FIFO ; DY ; DL ; DS ; SHLI ; LHLI ; MOPR ; LEPR]
# List of Policies :
# FIFO / DO : Drop Oldest First
# DY : Drop Youngest First
# DL : Drop Largest (in size) First
# DS : Drop Smallest (in size) First
# SHLI : Shortest Remaining Life First
# LHLI : Longest Remaining Life First
# MOFO / MOPR : Most Forward Only / Most Probable Route (Hop tinggi)
# LEPR : Least Probable First (asumsi sederhana: hop count rendah)
# No input = Default using FIFO

Group.bufferSize = 200k
Group.waitTime = 0, 120
Group.msgTtl = 300
Group.nrofInterfaces = 1
Group.interface1 = btInterface

[ Group1 Information ]
Group1.groupID = A
Group1.waitTime = 10, 30 
Group1.speed = 0.8, 1.4
Group1.nrofHosts = 41
#36 Haggle Cam
#41 Haggle
#97 Reality
Group1.nodeLocation = 10, 10
Group1.movementModel = RandomWaypoint

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================

Events.nrof = 1
# [ Trace information ]
# # Events1 only work for ExternalEventsQueue (first scenario)
# Events1.class = ExternalEventsQueue
# Events1.filePath = data/events/Haggle3.txt
# #Events1.filePath = Haggle4-Cam-Imote.csv
# #Events1.filePath = Haggle3-Infocom5.txt
# #RealityConnectionTraceRevised.txt
# #Haggle4-Cam-Imote.csv
# #Haggle3-Infocom5.txt 
# #RealityConnectionTraceFinal.txt

[ Message creation parameters ]
# This work as message generator for internal events (second scenario)
Events1.class = MessageEventGenerator
#Events2.interval = 58, 62 
Events1.interval = 580, 620 
#97, 103
# 25,30 (~120 texts/hour) 
#290, 310 (~12 texts/hour)
# 580, 620 (~ 6 texts/hour)
Events1.size = 10k
## range of message source/destination address 
Events1.hosts = 0, 40
# 0, 35 Haggle Cam
# 0,40 Haggle
# 0,96 Reality
Events1.prefix = M

[ Movement model settings ]
# seed for movement models' pseudo random number generator (default = 0)
MovementModel.rngSeed = 1
# World's size for Movement Models without implicit size (width, height; meters)
MovementModel.worldSize = 4500, 3400
# How long time to move hosts in the world before real simulation
MovementModel.warmup = 1000

#===========================================================================
#ReportsInformations
#===========================================================================

Report.nrofReports = 2

Report.reportDir = [reports/dropPolicyComparison/FIFO ; reports/dropPolicyComparison/DY ; reports/dropPolicyComparison/DL ; reports/dropPolicyComparison/DS ; reports/dropPolicyComparison/SHLI ; reports/dropPolicyComparison/LHLI ; reports/dropPolicyComparison/MOPR ; reports/dropPolicyComparison/LEPR]
#Report.reportDir = reports/RealRANK

#Report classes to load
Report.report1 = UniqueEncountersReport
#Report.report2 = TotalEncountersReport 
#Report.report1 = DeliveryCentralityReport
Report.report2 = MessageStatsReport
#Report.report3 = BufferOccupancyReport
#Report.report4 = BufferOccupancyEWMAReport
#Report.report1 = DegreeCentralityReport
#Report.report8 = CommunityDetectionReport